body {
    background-image: url('anna.jpg');
    background-attachment: fixed;
    background-size: cover;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(235, 255, 253);
  }
  .main {
    background-color: rgba(70, 85, 110, 0.785);
    border: 2px inset rgb(156, 156, 156);
    text-align: justify;
    line-height: 2.5;
    padding: 25px;
    margin: auto;
    margin-top: 5%;
    width: 1250px;
  }
  h1 {
    font-weight: 800;
    font-size: 2.5em;
  }
  p {
    line-height: 2.0;
    font-weight: bolder;
  }
  #tag {
    margin: auto;
    color: rgba(152, 226, 214, 0.582);
    font-family: 'Courier New', Courier, monospace;
  }
  .audio-container {
    display: inline-block;
    width: 300px; 
    height: 200px;
    margin: 10px;
  }
  
  
  
